@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #050505;
  color: #f8fafc;
}

@theme {
  --color-gold: #D4AF37;
  --color-gold-light: #F6E7B7;
  --color-gold-dark: #B8941F;
}
